.gradient-text {
  text-transform: uppercase;
  background: linear-gradient(
    90deg,
    #ff7eb3,
    #ff758c,
    #ef99a7,
    #6129d1,
    #1526c3,
    #1791a7
  );
  background-size: 400% 400%;
  background-clip: text;
  color: transparent;
  /* border: 2px solid red; */
  animation: gradient-animation 10s ease-in-out infinite alternate;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
