@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: 9, 16, 2;
    --background: 250, 254, 246;
    --primary: 130, 223, 46;
    --secondary: 141, 143, 238;
    --accent: 78, 228, 148;
  }

  .dark {
    --text: 9, 16, 2;
    --background: 250, 254, 246;
    --primary: 130, 223, 46;
    --secondary: 141, 143, 238;
    --accent: 78, 228, 148;
  }
}
